<mat-card>
  <mat-card-content style="text-indent: 2em">
    <p>
      丰满水电站是我国第一座大型水电工程，坝址位于吉林省吉林市第二松花江干流，上游距红石水电站153km，下游距第二松花江河口355km，距吉林市16km，距省会长春市136km。经过多年的运行，丰满水电站形成了一座以发电为主，兼有防洪、灌溉、城市供水和环境保护等任务，同时结合水产养殖和旅游等综合利用的水电工程，对当地经济、社会的发展和环境保护具有重要意义。</p>
  </mat-card-content>
  <mat-card-content>
    <div style="display: inline-block;width: 40%;margin-left: 5%">
      <img src="assets/images/old-dam.png" style="width: 100%" title="原大坝">
      <h2 style="text-align: center">原大坝</h2>
    </div>
    <div style="display: inline-block;width: 40%;margin-left: 5%">
      <img src="assets/images/new_dam.png" style="width: 100%" title="新大坝">
      <h2 style="text-align: center">新大坝</h2>
    </div>
  </mat-card-content>
  <mat-card-content style="text-indent: 2em">
    <p>
      丰满水电站全面治理（重建）工程是按恢复电站的原任务和功能，保持原水库兴利特征水位不变情况下，在原大坝下游120m处新建一座大坝，并利用原三期工程工程任务仍以发电为主，兼顾防洪、城市及工业供水、灌溉、生态环境保护，并具有旅游水产养殖等综合利用效益。水库正常蓄水位263.50m，汛限水位260.50m，死水位242.00m，校核洪水位268.50m，总库容103.77×108m3。新坝建成后，拆除原坝#6～#43坝段缺口及原一、二期厂房发电机层以上部分混凝土，缺口拆除长度684.00m。</p>
    <p>
      通过近70年的运行，水库库区和坝下均已形成较为稳定的水文情势和生态系统。丰满水电站全面治理（重建）工程在实施过程中，受施工期和建成后“一库两坝”的影响，将改变原电站形成的水温时空分布规律，进而对相关环境因子、生态系统以及坝下雾凇景观可能产生影响。</p>
  </mat-card-content>
</mat-card>
