<div class="back-groud">
  <mat-card style="width: 500px;height:300px;">
    <mat-card-content style="height: 100%">
      <form [formGroup]="loginFormGroup"
            style="height:100%;display:flex;flex-wrap: wrap;justify-content: center;align-content: center">
        <h1>丰满水电站水温监测成果综合数据库</h1>
        <span style="height: 50px"></span>
        <mat-form-field class="example-full-width" style="width: 80%">
          <mat-label>用户名</mat-label>
          <input matInput required type="email" formControlName="userName"/>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 80%">
          <mat-label>密码</mat-label>
          <input matInput required type="password" formControlName="password"/>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="login()" style="width: 80%">登录</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
