<mat-grid-list cols="10" rowHeight="90%">
  <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="1">
    <mat-nav-list>
      <a routerLink="BasinOverview" routerLinkActive="active" mat-list-item>
        <span mat-line>流域概况</span>
      </a>
      <a routerLink="ProjectOverview" routerLinkActive="active" mat-list-item>
        <span mat-line>工程概况</span>
      </a>
      <a routerLink="ScheduleOperation" routerLinkActive="active" mat-list-item>
        <span mat-line>调度运行情况</span>
      </a>
      <a routerLink="WeatherCondition" routerLinkActive="active" mat-list-item>
        <span mat-line>气象条件</span>
      </a>
    </mat-nav-list>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="6">
    <router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>
</mat-grid-list>
