<mat-toolbar>
  <span>丰满水电站水温监测成果综合数据库</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="首页">
    <app-home></app-home>
  </mat-tab>
  <mat-tab label="基本信息">
    <app-basic-info></app-basic-info>
  </mat-tab>
  <mat-tab label="气温">
    <app-air-temperature></app-air-temperature>
  </mat-tab>
  <mat-tab label="水温">
    <app-water-temperature></app-water-temperature>
  </mat-tab>
  <mat-tab label="冰情">
    <app-ice-condition></app-ice-condition>
  </mat-tab>
</mat-tab-group>
