<mat-toolbar style="height: fit-content">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <span>丰满水电站水温监测成果综合数据库</span>
    <a mat-tab-link routerLink="Home" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      首页</a>
    <a mat-tab-link routerLink="BasicInfo" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      基本信息</a>
    <a mat-tab-link routerLink="MonitoringPlan" routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">监测方案</a>
    <a mat-tab-link routerLink="WaterTemperature" routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">水温</a>
    <a mat-tab-link routerLink="IceCondition" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      冰情</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
