<mat-card style="margin-top: 10%">
  <mat-card-content>
    <form [formGroup]="dateRange">
      <mat-form-field class="example-full-width" style="margin-left: 10%">
        <mat-label>开始时间</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="margin-left: 5%">
        <mat-label>结束时间</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="margin-left: 5%">
        <mat-label>点位</mat-label>
        <mat-select formControlName="position">
          <mat-option value="wsd">雾凇岛</mat-option>
          <mat-option value="jlrdc">吉林热电厂</mat-option>
          <mat-option value="jlswz">吉林水文站</mat-option>
          <mat-option value="yqsk">永庆水库</mat-option>
          <mat-option value="fmswz">丰满水文站</mat-option>
          <mat-option value="sqws">三期尾水</mat-option>
          <mat-option value="hsws">红石尾水</mat-option>
          <mat-option value="yqws">一期尾水</mat-option>
          <mat-option value="flhk">新增 獒龙河口</mat-option>
          <mat-option value="lwm">新增 龙王庙（渡江山村）</mat-option>
          <mat-option value="yssbp">新增 榆树十八盘（董家驼子）</mat-option>
          <mat-option value="ymhk">新增 饮马河口（李家坨子）</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="setChartData()" style="margin-left: 5%">确认</button>
    </form>
  </mat-card-content>
  <mat-card-content>
    <div style="width: 60vw;">
      <div echarts [options]="chartOptions" (chartInit)="chartInit($event)"></div>
    </div>
  </mat-card-content>
</mat-card>
