<mat-card style="width: 50%; margin: auto">
  <mat-card-content style="text-indent: 2em">

    <div class=WordSection1 style='layout-grid:15.6pt'>

      <p class=MsoNormal style='margin-top:7.8pt;margin-right:0in;margin-bottom:0in;
margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-24.0pt;line-height:125%;
page-break-after:avoid;layout-grid-mode:both'><span lang=ZH-CN
                                                    style='line-height:125%;font-family:SimSun;color:black'>库区垂线水温监测</span>
      </p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>（</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>）监测断面布置</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>丰满库区监测断面具体为：红石水电站坝下（丰满水库库尾）、辉发河口、桦树林子、小荒地、沙石浒、老坝前和新坝前，共布置</span><span
        style='line-height:125%;color:black'>7</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>个库区监测断面。</span><span lang=ZH-CN
                                                          style='line-height:125%;font-family:SimSun;color:black'>水温监测断面情况与相对位置见</span><span
        lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>表</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>，库区监测点位的地理信</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>息及布设情况见</span><span
        lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>图</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>。其中，新坝前</span><span style='line-height:
125%;color:black'>KQ1</span><span lang=ZH-CN style='line-height:125%;
font-family:SimSun;color:black'>的垂线水温监测于全面治理工程正常运行第一年（</span><span
        style='line-height:125%;color:black'>2019</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>年</span><span
        style='line-height:125%;color:black'>11</span><span lang=ZH-CN
                                                            style='line-height:125%;font-family:SimSun;color:black'>月</span><span
        style='line-height:125%;color:black'>~2020</span><span lang=ZH-CN
                                                               style='line-height:125%;font-family:SimSun;color:black'>年</span><span
        style='line-height:125%;color:black'>10</span><span lang=ZH-CN
                                                            style='line-height:125%;font-family:SimSun;color:black'>月）实施。</span>
      </p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span style='line-height:125%;color:black'>&nbsp;</span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;page-break-after:avoid;layout-grid-mode:both'><a
        name="_Ref516057523"><span lang=ZH-CN style='font-size:10.5pt;line-height:125%;
font-family:SimSun;color:black'>表</span></a><span style='font-size:10.5pt;
line-height:125%;color:black'>1</span><span lang=ZH-CN style='font-size:10.5pt;
line-height:125%;font-family:SimSun;color:black'>库区监测断面位置情况</span></p>

      <div align=center>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
               style='border-collapse:collapse;border:none'>
          <thead>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;padding:
   1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>编号</span></p>
            </td>
            <td width=191 style='width:143.2pt;border:solid windowtext 1.0pt;border-left:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>位置</span></p>
            </td>
            <td width=254 style='width:190.85pt;border:solid windowtext 1.0pt;
   border-left:none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>距老坝址距离（</span><span
                style='font-size:10.5pt;color:black;layout-grid-mode:line'>km</span><span
                lang=ZH-CN style='font-size:10.5pt;font-family:SimSun;color:black;
   layout-grid-mode:line'>）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ1</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>新坝前</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>0.1</span><span lang=ZH-CN
                                                      style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ2</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>老坝前</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>0.2</span><span lang=ZH-CN
                                                      style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ3</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>沙石浒</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>40.0</span><span lang=ZH-CN
                                                       style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ4</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>小荒地</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>68.0</span><span lang=ZH-CN
                                                       style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ5</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>桦树林子</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>98.0</span><span lang=ZH-CN
                                                       style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ6</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>辉发河口</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>120.0</span><span lang=ZH-CN
                                                        style='font-size:10.5pt;font-family:SimSun;color:black;layout-grid-mode:
   line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width=108 style='width:80.75pt;border:solid windowtext 1.0pt;border-top:
   none;padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span style='font-size:10.5pt;
   color:black;layout-grid-mode:line'>KQ7</span></p>
            </td>
            <td width=191 style='width:143.2pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;layout-grid-mode:both'><span lang=ZH-CN style='font-size:
   10.5pt;font-family:SimSun;color:black;layout-grid-mode:line'>红石水电站坝下</span></p>
            </td>
            <td width=254 style='width:190.85pt;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:1.4pt 1.4pt 1.4pt 1.4pt;height:16.45pt'>
              <p class=MsoNormal align=center style='text-align:center;text-indent:.25in;
   line-height:normal;page-break-after:avoid;layout-grid-mode:both'><span
                style='font-size:10.5pt;color:black;layout-grid-mode:line'>153.0</span><span
                lang=ZH-CN style='font-size:10.5pt;font-family:SimSun;color:black;
   layout-grid-mode:line'>（老坝上游）</span></p>
            </td>
          </tr>
          </thead>
        </table>

      </div>

      <p class=MsoNormal style='text-indent:0in;line-height:normal;layout-grid-mode:
both'><span style='color:black'>&nbsp;</span></p>

      <p class=MsoNormal align=center style='text-indent:0in;line-height:normal;layout-grid-mode:
both'><span style='color:black'><img width=553 height=329 id="图片 1"
                                     src="assets/images/monitoring-plan/image001.png"></span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><a name="_Ref530063590"><span
        lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:SimHei;
color:black'>图</span></a><span style='font-size:10.5pt;line-height:125%;
color:black'>1</span><span lang=ZH-CN style='font-size:10.5pt;line-height:125%;
font-family:SimSun;color:black'>库区监测断面地理位置图</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>（</span><span
        style='line-height:125%;color:black'>2</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>）监测方法</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>库区垂线水温监测采用美国</span><span
        style='line-height:125%;color:black'>YSI</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>公司生产的</span><span
        style='line-height:125%;color:black'>YSI 6600 V2</span><span lang=ZH-CN
                                                                     style='line-height:125%;font-family:SimSun;color:black'>型多参数水质仪。由于丰满水库最大水深达到约</span><span
        style='line-height:125%;color:black'>70m</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>，监测垂线水温时将</span><span
        style='line-height:125%;color:black'>YSI 6600 V2</span><span lang=ZH-CN
                                                                     style='line-height:125%;font-family:SimSun;color:black'>水质仪设定为无人值守式，借助钢缆手工下放测量垂线各断面的水温、水深。仪器自动记录并存储水温、水深等监测数据。深度传感器根据施测位置当地大气压校准。库区水温监测工作时借助船只，采用</span><span
        style='line-height:125%;color:black'>GPS</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>进行监测断面的纵向定位，采用测深仪进行监测垂线的横向定位。原则上每个监测垂线位于监测断面的深泓点处，表层水温于水面下</span><span
        style='line-height:125%;color:black'>0.5m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>处测量；以下每隔</span><span
        style='line-height:125%;color:black'>2m</span><span lang=ZH-CN
                                                            style='line-height:125%;font-family:SimSun;color:black'>水深测一个水温值，当两个测点间温差超过</span><span
        style='line-height:125%;color:black'>0.5℃</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>时，在中间增加测点，相邻测点之间温差控制在</span><span
        style='line-height:125%;color:black'>0.5℃</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>以内；距底</span><span
        style='line-height:125%;color:black'>0.5m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>处测库底水温。施测过程中，记录施测时刻、位置（经纬度）及气温，并拍照。</span>
      </p>

      <p class=MsoNormal style='margin-top:7.8pt;margin-right:0in;margin-bottom:0in;
margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-24.0pt;line-height:125%;
page-break-after:avoid;layout-grid-mode:both'><span lang=ZH-CN
                                                    style='line-height:125%;font-family:SimSun;color:black'>在线点位水温监测</span>
      </p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>（</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>）监测断面布设</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='font-family:SimSun'>在线点位断面主要包括：红石电站尾水、丰满一期电站尾水、丰满三期电站尾水、新坝下（新电站尾水）、丰满大桥、永庆水库坝下、吉林市水文站、吉林热电厂冷却水排放口和雾凇岛末端，共计</span>9<span
        lang=ZH-CN style='font-family:SimSun'>个。根据</span>2016<span lang=ZH-CN
                                                                   style='font-family:SimSun'>年吉林丰满水电站全面治理（重建）工程变更环境影响报告书批复文件中，要求增加下游重要鱼类产卵场断面（</span>XY1<span
        lang=ZH-CN style='font-family:SimSun'>永吉螯龙河口、</span>XY2<span lang=ZH-CN
                                                                     style='font-family:SimSun'>榆树十八盘、</span>XY3<span
        lang=ZH-CN style='font-family:
SimSun'>德惠龙王庙、</span>XY4<span lang=ZH-CN style='font-family:SimSun'>德惠饮马河口）的水温监测内容，监测时段为</span>2018<span
        lang=ZH-CN style='font-family:SimSun'>年</span>11<span lang=ZH-CN
                                                              style='font-family:SimSun'>月至</span>2020<span lang=ZH-CN
                                                                                                            style='font-family:
SimSun'>年</span>10<span lang=ZH-CN style='font-family:SimSun'>月。监测点断面情况见表</span>2<span
        lang=ZH-CN style='font-family:SimSun'>，地理位置详见</span><span
        lang=ZH-CN style='font-family:SimSun'>图</span>2~<span lang=ZH-CN
                                                              style='font-family:SimSun'>图</span>3<span lang=ZH-CN
                                                                                                        style='font-family:SimSun'>。</span><a
        name="_Ref530063753"></a></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='font-family:SimSun'>因此，本次对下游重要鱼类产卵场断面实施的水温监测成果，将为工程对坝下水生生境影响观测评估及优化运行调度研究提供基础支撑材料，同时为工程环境安全及环境保护对策措施的制定提供科学依据。</span>
      </p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><span lang=ZH-CN style='font-size:10.5pt;
line-height:125%;font-family:SimHei;color:black'>表</span><span
        style='font-size:10.5pt;line-height:125%;color:black'>2</span><span lang=ZH-CN
                                                                            style='font-size:10.5pt;line-height:125%;font-family:SimHei;color:black'>在线点位监测断面位置情况。</span>
      </p>

      <div align=center>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
               style='width:100.0%;border-collapse:collapse;border:none'>
          <thead>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>编号</span></p>
            </td>
            <td width="40%" style='width:40.3%;border:solid windowtext 1.0pt;border-left:
   none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>位置</span></p>
            </td>
            <td width="39%" style='width:39.54%;border:solid windowtext 1.0pt;
   border-left:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>距老坝距离</span><span style='layout-grid-mode:
   line'>(km)</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX1</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>一期尾水</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>0.1</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX2</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>三期尾水</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>0.3</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX3</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>新坝下（新电站尾水）</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>0.2</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX4</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>丰满大桥</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>1.3</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX5</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>永庆水库坝下</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>10.8</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX6</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>吉林市水文站</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>21.0</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX7</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>吉林热电厂冷却水排放口</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>32.0</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX8</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>雾凇岛末端</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>71.0</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>ZX9</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>红石电站尾水</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>153.0</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝上游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>XY1</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>永吉螯龙河口</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>69</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>XY2</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>榆树十八盘</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>177</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>XY3</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>德惠龙王庙</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>188</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          <tr style='height:16.45pt'>
            <td width="20%" style='width:20.16%;border:solid windowtext 1.0pt;
   border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>XY4</span></p>
            </td>
            <td width="40%" style='width:40.3%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span lang=ZH-CN style='font-family:
   SimSun;layout-grid-mode:line'>德惠饮马河口</span></p>
            </td>
            <td width="39%" style='width:39.54%;border-top:none;border-left:none;
   border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
   padding:0in 5.4pt 0in 5.4pt;height:16.45pt'>
              <p class=a style='margin-bottom:3.1pt'><span style='layout-grid-mode:line'>213</span><span
                lang=ZH-CN style='font-family:SimSun;layout-grid-mode:line'>（老坝下游）</span></p>
            </td>
          </tr>
          </thead>
        </table>

      </div>

      <p class=MsoNormal style='text-indent:0in;line-height:normal;layout-grid-mode:
both'><span style='color:black'>&nbsp;</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span style='line-height:125%;color:black'>&nbsp;</span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><span style='line-height:125%;
color:black'><img width=553 height=328 id="图片 2" src="assets/images/monitoring-plan/image002.png"></span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><a name="_Ref530063766"><span
        lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:SimHei;
color:black'>图</span></a><span style='font-size:10.5pt;line-height:125%;
color:black'>2 </span><span lang=ZH-CN style='font-size:10.5pt;line-height:
125%;font-family:SimHei;color:black'>连续水温监测断面地理位置图</span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><span style='font-size:10.5pt;
line-height:125%;color:black'><img width=553 height=341 id="图片 3"
                                   src="assets/images/monitoring-plan/image003.png"></span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><a name="_Ref21722723"><span
        lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:SimHei;
color:black'>图</span></a><span style='font-size:10.5pt;line-height:125%;
color:black'>3 </span><span lang=ZH-CN style='font-size:10.5pt;line-height:
125%;font-family:SimHei;color:black'>连续水温监测断面地理位置图（补充）</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>（</span><span
        style='line-height:125%;color:black'>2</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>）监测方法</span></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:20.0pt'><span
        lang=ZH-CN style='font-family:SimSun;color:black'>在线点位的水温监测采取固定安装的方式，对监测断面水温实现</span><span
        style='color:black'>24</span><span lang=ZH-CN style='font-family:SimSun;
color:black'>段制的自动记录。</span></p>

      <p class=MsoNormal style='text-indent:0in;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>记录仪器采用存储器与水温测量探头相分离的方式。仪器主机放于固定平台保管箱内，并上锁做好防盗措施，由专人看护。温度探头和线缆依托电站尾水平台构筑物、河道趸船、河岸建筑物等进行固定，并保证仪器探头布设位置处于河道主流区水体明显流动处。监测人员每间隔</span><span
        style='line-height:125%;color:black'>2~3</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>月至各在线监测点巡查（检查线缆、更换电池等），并提取连续监测数据。</span>
      </p>

      <p class=MsoNormal style='margin-left:30.1pt;text-indent:-30.1pt;line-height:
125%;page-break-after:avoid;layout-grid-mode:both'><a name="_Toc5693163"><b><span
        lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>监测仪器及技术要求</span></b></a></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>库区垂线水温观测采用美国</span><span
        style='line-height:125%;color:black'>YSI</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>公司生产的</span><span
        style='line-height:125%;color:black'>YSI6600</span><span lang=ZH-CN
                                                                 style='line-height:125%;font-family:SimSun;color:black'>多参数水质仪（图</span><span
        style='line-height:125%;color:black'>4</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>），该仪器能自动记录水深和水温。温度传感器的分辨率为</span><span
        style='line-height:125%;color:black'>0.01℃</span><span lang=ZH-CN
                                                               style='line-height:125%;font-family:SimSun;color:black'>，精度为</span><span
        style='line-height:125%;color:black'>±0.15℃</span><span lang=ZH-CN
                                                                style='line-height:125%;font-family:SimSun;color:black'>，范围</span><span
        style='line-height:125%;color:black'>-5</span><span lang=ZH-CN
                                                            style='line-height:125%;font-family:SimSun;color:black'>～</span><span
        style='line-height:125%;color:black'>50℃</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>，深度精度为</span><span
        style='line-height:125%;color:black'>0.3m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>、范围</span><span
        style='line-height:125%;color:black'>0</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>～</span><span style='line-height:125%;
color:black'>200m</span><span lang=ZH-CN style='line-height:125%;font-family:
SimSun;color:black'>，温度传感器无需校准，深度传感器根据施测位置当地大气压校准。库区垂向水温观测采用人工方式进行操作，将</span><span
        style='line-height:125%;color:black'>YSI6600</span><span lang=ZH-CN
                                                                 style='line-height:125%;font-family:SimSun;color:black'>型多参数水质监测仪探头置于观测垂线的待测点上，停留足够时间（约</span><span
        style='line-height:125%;color:black'>20</span><span lang=ZH-CN
                                                            style='line-height:125%;font-family:SimSun;color:black'>秒），待仪器读数稳定且自动记录测点水温与水深后，将探头移至下一测点，观测时根据水温分层情况在水深方向每</span><span
        style='line-height:125%;color:black'>1.0m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>～</span><span
        style='line-height:125%;color:black'>3.0m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>布置一个测点，直至整条垂线观测完成。</span>
      </p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>入出库水温观测采用泽大仪器设备厂生产的</span><span
        style='line-height:125%;color:black'>ZDR</span><span lang=ZH-CN
                                                             style='line-height:125%;font-family:SimSun;color:black'>自记式温度仪（图</span><span
        style='line-height:125%;color:black'>5</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>）。</span><span style='line-height:125%;
color:black'>ZDR</span><span lang=ZH-CN style='line-height:125%;font-family:
SimSun;color:black'>自记式温度仪可连续记录水温过程并储存于主机中，以避免观测数据丢失。温度传感器的分辨率为</span><span
        style='line-height:125%;color:black'>0.1℃</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>，精度为</span><span
        style='line-height:125%;color:black'>±0.1℃</span><span lang=ZH-CN
                                                               style='line-height:125%;font-family:SimSun;color:black'>，范围为</span><span
        style='line-height:125%;color:black'>-40℃</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>～</span><span
        style='line-height:125%;color:black'>100℃</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>。仪器采用高能锂电池供电，如以</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>小时记录一次数据计算，供电时间可长达</span><span
        style='line-height:125%;color:black'>6</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>个月。布置水温传感器时，保证能测量水面</span><span
        style='line-height:125%;color:black'>0.5m</span><span lang=ZH-CN
                                                              style='line-height:125%;font-family:SimSun;color:black'>处以下流动水体温度。</span>
      </p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><span style='line-height:125%;
color:black'><img width=249 height=194 id="图片 232" src="assets/images/monitoring-plan/image004.jpg"> 
<img width=262 height=195 id="图片 233" src="assets/images/monitoring-plan/image005.jpg"></span></p>

      <p class=MsoNormal align=center style='text-align:center;text-indent:0in;
line-height:125%;layout-grid-mode:both'><a name="_Ref530064162"><span
        lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:SimHei;
color:black'>图</span></a><span style='font-size:10.5pt;line-height:125%;
color:black'>4  </span><span style='font-size:10.5pt;line-height:125%;
color:black'>YSI6600</span><span lang=ZH-CN style='font-size:10.5pt;line-height:
125%;font-family:SimHei;color:black'>多参数水质仪</span><span lang=ZH-CN
                                                        style='font-size:10.5pt;line-height:125%;color:black'> </span><span
        style='font-size:10.5pt;line-height:125%;color:black'>         </span><span
        lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:SimSun;
color:black'>图</span><span style='font-size:10.5pt;line-height:125%;color:black'>5 
ZDR</span><span lang=ZH-CN style='font-size:10.5pt;line-height:125%;font-family:
SimSun;color:black'>自记式温度仪</span></p>

      <p class=MsoNormal style='margin-left:30.1pt;text-indent:-30.1pt;line-height:
125%;page-break-after:avoid;layout-grid-mode:both'><a name="_Toc5693164"><b><span
        lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>监测时段及频次</span></b></a></p>

      <p class=MsoNormal style='text-indent:24.0pt;line-height:125%;layout-grid-mode:
both'><span lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>库区垂线水温监测；每年度冰封期（</span><span
        style='line-height:125%;color:black'>2</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>月）、升温期（</span><span style='line-height:
125%;color:black'>6</span><span lang=ZH-CN style='line-height:125%;font-family:
SimSun;color:black'>月）、降温期（</span><span style='line-height:125%;color:black'>9</span><span
        lang=ZH-CN style='line-height:125%;font-family:SimSun;color:black'>月），监测人员至现场进行</span><span
        style='line-height:125%;color:black'>1</span><span lang=ZH-CN style='line-height:
125%;font-family:SimSun;color:black'>次库区沿程垂线水温监测。</span></p>

      <p class=MsoNormal style='text-indent:24.0pt'><span lang=ZH-CN
                                                          style='font-family:SimSun;color:black'>在线点位水温监测：观测期内采用自动记录仪对各点位进行在线连续水温监测，仪器一小时采集并记录一次数据。</span>
      </p>

    </div>
  </mat-card-content>
</mat-card>
