<mat-card style="text-align: center;height: 100%">
  <mat-card-content>
    <div>
      <mat-form-field class="example-full-width" style="margin-left: 5%">
        <mat-label>时间</mat-label>
        <mat-select [(ngModel)]="imgSrc">
          <mat-option value="assets/images/ice-condition/2013-11-26.png">2013-11-26.png</mat-option>
          <mat-option value="assets/images/ice-condition/2013-12-28.png">2013-12-28.png</mat-option>
          <mat-option value="assets/images/ice-condition/2014-01-29.png">2014-01-29.png</mat-option>
          <mat-option value="assets/images/ice-condition/2014-02-21.png">2014-02-21.png</mat-option>
          <mat-option value="assets/images/ice-condition/2014-03-18.png">2014-03-18.png</mat-option>
          <mat-option value="assets/images/ice-condition/2014-11-13.png">2014-11-13.png</mat-option>
          <mat-option value="assets/images/ice-condition/2014-12-22.png">2014-12-22.png</mat-option>
          <mat-option value="assets/images/ice-condition/2015-01-07.png">2015-01-07.png</mat-option>
          <mat-option value="assets/images/ice-condition/2015-02-08.png">2015-02-08.png</mat-option>
          <mat-option value="assets/images/ice-condition/2015-03-12.png">2015-03-12.png</mat-option>
          <mat-option value="assets/images/ice-condition/2015-12-18.png">2015-12-18.png</mat-option>
          <mat-option value="assets/images/ice-condition/2016-01-10.png">2016-01-10.png</mat-option>
          <mat-option value="assets/images/ice-condition/2016-02-20.png">2016-02-20.png</mat-option>
          <mat-option value="assets/images/ice-condition/2016-03-30.png">2016-03-30.png</mat-option>
          <mat-option value="assets/images/ice-condition/2016-11-25.png">2016-11-25.png</mat-option>
          <mat-option value="assets/images/ice-condition/2016-12-27.png">2016-12-27.png</mat-option>
          <mat-option value="assets/images/ice-condition/2017-01-28.png">2017-01-28.png</mat-option>
          <mat-option value="assets/images/ice-condition/2017-02-13.png">2017-02-13.png</mat-option>
          <mat-option value="assets/images/ice-condition/2017-03-17.png">2017-03-17.png</mat-option>
          <mat-option value="assets/images/ice-condition/2017-12-14.png">2017-12-14.png</mat-option>
          <mat-option value="assets/images/ice-condition/2018-01-15.png">2018-01-15.png</mat-option>
          <mat-option value="assets/images/ice-condition/2018-02-25.png">2018-02-25.png</mat-option>
          <mat-option value="assets/images/ice-condition/2018-03-20.png">2018-03-20.png</mat-option>
          <mat-option value="assets/images/ice-condition/2018-12-10.png">2018-12-10.png</mat-option>
          <mat-option value="assets/images/ice-condition/2019-01-11.png">2019-01-11.png</mat-option>
          <mat-option value="assets/images/ice-condition/2019-02-12.png">2019-02-12.png</mat-option>
          <mat-option value="assets/images/ice-condition/2019-03-16.png">2019-03-16.png</mat-option>
          <mat-option value="assets/images/ice-condition/2019-12-04.png">2019-12-04.png</mat-option>
          <mat-option value="assets/images/ice-condition/2020-01-05.png">2020-01-05.png</mat-option>
          <mat-option value="assets/images/ice-condition/2020-02-22.png">2020-02-22.png</mat-option>
          <mat-option value="assets/images/ice-condition/2020-03-18.png">2020-03-18.png</mat-option>
          <mat-option value="assets/images/ice-condition/2020-12-15.png">2020-12-15.png</mat-option>
          <mat-option value="assets/images/ice-condition/2021-01-23.png">2021-01-23.png</mat-option>
          <mat-option value="assets/images/ice-condition/2021-02-24.png">2021-02-24.png</mat-option>
          <mat-option value="assets/images/ice-condition/2021-03-28.png">2021-03-28.png</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <img [src]="imgSrc"/>
  </mat-card-content>
</mat-card>
