<mat-tab-group mat-align-tabs="center" style="margin-top: 10%;background: white">
  <mat-tab label="流域简介">
    <mat-card style="height: 30em">
      <mat-card-content style="text-indent: 2em">
        <p>松花江流域位于中国东北地区的北部，东西长920km，南北宽1070km，流域面积55.68万km²，是黑龙江右岸最大支流。松花江有南、北两源，南源为第二松花江，北源为嫩江。</p>
        <p>
          第二松花江是松花江的南源，发源于长白山的白头山天池，流经吉林省的安图、敦化、吉林、长春、扶余等26个市、县，于扶余县西北三岔河口汇入松花江，河流总长958km，流域面积7.34万km²，其中除540.8km²面积属辽宁省外，其余都在吉林省境内。整个流域地势东南高、西北低，江道由东南流向西北。流域年平均降水量比较充沛，水资源较丰富，特别是上游山区，山高河陡，水能资源很也丰富。第二松花江干流河流落差1556m。第二松花江干流划分为四段，即河源段、上游江段、丘陵区江段和下游江段。源头至头道江与二道江汇合的两江口为河源段，两江口至丰满水电站坝址为上游江段，丰满水电站坝址至沐石河口为丘陵区江段，沐石河口至第二松花江河口为下游江段。主要支流有头道江、辉发河、鳌龙河和饮马河等。</p>
        <p>
          从源头到二道江与头道江会合的两江口，为河源段。河道长255.7km，集水面积18724km²，整个江段位于长白山山地。全江段山岭连绵，森林茂密，植被良好，河谷狭窄，江道弯曲，河底为石质，有岩坎、暗礁和深潭。河源段内有较大支流五道白河、古洞河和头道江。</p>
        <p>
          从两江口到丰满水电站坝址，为第二松花江的上游江段，长208.1km，集水面积24237km²，江段坡降为0.4‰～1.6‰，河谷呈“V”型。本江段内有较大支流蛟河和辉发河汇入，已建有梯级水电站白山、红石和丰满电站。</p>
        <p>
          由丰满水电站坝址到沐石河口，为第二松花江的丘陵区江段，长190.7km，集水面积9457km²，两岸丘陵海拔300～500m。较大支流温德河、鳌龙河和沐石河均位于左岸，呈不对称的河网型，两岸河谷展阔，是主要农业区。</p>
        <p>
          由沐石河口到第二松花江河口，是下游江段，江道长170.9km，区间集水面积21416km²，江道较宽，沿岸多沙丘，河道中叉河、串沟和江心洲岛较多，江心岛上丛生柳条杂草。本江段内除左岸有大支流饮马河，右岸支流很少。第二松花江多年平均年径流量162亿m³，多年平均年径流深209.6mm。</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="流域水文">
    <mat-card style="height: 30em">
      <mat-card-content style="text-indent: 2em">
        <p>
          丰满水电站位于吉林市上游16km处的第二松花江干流上，坝址处控制流域面积4.25万km²。据第二松花江丰满段1933年～2008年径流资料统计分析，坝址断面多年平均入库流量为432m³/s，最大年平均流量为768m³/s（1986年），最小年平均流量为185m³/s（1978年）；5月～10月径流量占全年径流量的76.25%，6月～9月径流量占全年径流量的57.98%，11月～4月径流量占全年径流量的23.75%。最枯水期12月～2月和最枯2月，分别占全年径流量的4.64%和1.34%。</p>
        <p>
          丰满水电站的运行改变了径流的年内分配，较天然状况，丰满水库运行汛期出库径流量减少29.5%，枯期出库径流量增加13.4%。同时丰满水库的多年调节作用显著，将丰水年水量调至枯水年用，增加了枯水年的水量。通过白山水库和丰满水库联合运行后，进一步改变径流的年际分配，将丰水年水量调至枯水年用，增加了枯水年的水量。</p>
        <p>
          第二松花江的洪水主要由暴雨形成，洪水过程既有单峰型、也有双峰及多峰型。大洪水一般发生在6月～9月，尤以7月、8月为多，且量级较大。丰满水电站水库实测前9位大洪水均发生在7、8月份，入库最大日流量为16100m³/s；而发生在6月、9月份洪水的量级均不算太大，实测的丰满最大日流量都在5100m³/s以下。</p>
        <p>丰满水库具备很好的防洪条件，根据丰满水库运行后历史洪水过程与入库、出库流量过程比较，丰满建成后削峰约50%，水库对下游的削峰作用明显，白山、丰满水库的联合运行对丰满下游流域起到了更显著的防洪效果。</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="流域气候">
    <mat-card style="height: 30em">
      <mat-card-content style="text-indent: 2em">
        <p>
          第二松花江流域位于中温带湿润气候区，主要受太平洋季风及西伯利亚高气压影响。其基本特点是四季分明。春季干燥多风，夏季温热多雨，秋季凉爽多晴，冬季则严寒而漫长。昼夜温差较大，白天气温高，夜间冷却快，一般日较差在15℃。</p>
        <p>
          根据1961年~2014年长系列气象观测资料，评价区年平均降水量为686mm，其中年平均降水量最少和最多分别为516.7mm和919.1mm，二者相差402.4mm；年平均气温为4.5℃，夏季平均气温为21.0℃，冬季气温为零下14.7℃；年平均蒸发量（小型蒸发）为1277.9mm，夏季和春季蒸发量分别为512.3mm和457mm，占全年总蒸发量的76%；年平均风速为2.6m/s，四季中春季平均风速最大为3.4m/s,夏季最小为2.2m/s；年平均相对湿度为70%，四季中春季平均相对湿度最小为60%,夏季最大为78%。</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="流域冰情">
    <mat-card style="height: 30em">
      <mat-card-content style="text-indent: 2em">
        <p>
          第二松花江流域冬季气候严寒，每年11月初气温降为0℃以下，到次年3月底气温转正，长达5个月之久，秋季封江在11月下旬或12月上旬，春季开江为4月上旬，稳定封冻期在130d左右。根据丰满水电站水库库区的冰情资料：1997~2008年间，丰满水库开江时间主要集中在4月中下旬，封江时间主要集中在12月下旬和次年1月上旬；丰满水库历史最大冰厚0.95m（1977年2月28日），历史最小冰厚0.35m（2007年2月27日）。在冬季，丰满大坝下游吉林河段有约70km距离不封冻，呈明流状态。</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
