<mat-card>
  <mat-card-content>
    松花江流域位于中国东北地区的北部，东西长920km，南北宽1070km，流域面积55.68万km²，是黑龙江右岸最大支流。松花江有南、北两源，南源为第二松花江，北源为嫩江。
    第二松花江是松花江的南源，发源于长白山的白头山天池，流经吉林省的安图、敦化、吉林、长春、扶余等26个市、县，于扶余县西北三岔河口汇入松花江，河流总长958km，流域面积7.34万km²，其中除540.8km²面积属辽宁省外，其余都在吉林省境内。整个流域地势东南高、西北低，江道由东南流向西北。流域年平均降水量比较充沛，水资源较丰富，特别是上游山区，山高河陡，水能资源很也丰富。第二松花江干流河流落差1556m。第二松花江干流划分为四段，即河源段、上游江段、丘陵区江段和下游江段。源头至头道江与二道江汇合的两江口为河源段，两江口至丰满水电站坝址为上游江段，丰满水电站坝址至沐石河口为丘陵区江段，沐石河口至第二松花江河口为下游江段。主要支流有头道江、辉发河、鳌龙河和饮马河等。
    从源头到二道江与头道江会合的两江口，为河源段。河道长255.7km，集水面积18724km²，整个江段位于长白山山地。全江段山岭连绵，森林茂密，植被良好，河谷狭窄，江道弯曲，河底为石质，有岩坎、暗礁和深潭。河源段内有较大支流五道白河、古洞河和头道江。
    从两江口到丰满水电站坝址，为第二松花江的上游江段，长208.1km，集水面积24237km²，江段坡降为0.4‰～1.6‰，河谷呈“V”型。本江段内有较大支流蛟河和辉发河汇入，已建有梯级水电站白山、红石和丰满电站。
    由丰满水电站坝址到沐石河口，为第二松花江的丘陵区江段，长190.7km，集水面积9457km²，两岸丘陵海拔300～500m。较大支流温德河、鳌龙河和沐石河均位于左岸，呈不对称的河网型，两岸河谷展阔，是主要农业区。
    由沐石河口到第二松花江河口，是下游江段，江道长170.9km，区间集水面积21416km²，江道较宽，沿岸多沙丘，河道中叉河、串沟和江心洲岛较多，江心岛上丛生柳条杂草。本江段内除左岸有大支流饮马河，右岸支流很少。第二松花江多年平均年径流量162亿m³，多年平均年径流深209.6mm。
  </mat-card-content>
</mat-card>
